.main-gui {
    background-color: #1e1e1e;
    child-space: 5%;
}

.knob-section {
    background-color: #280c55;
    child-space: 5%;
}

.title-section {
    background-color: #512540;
    width: 1s;
    height: 20%;
}

.header-title {
    background-color: #512540;

    color: #d28819;
    font-size: 50;
    font-weight: bold;
}

.knob_container {
    width: 80%;
    background-color: #cfb969;
    border-radius: 30%;
    border-width: 2px;
    border-color: #444444;
}

.knob_arc {
    background-color: #9a56bd;
}

.param-label {
    color: #000000;
    font-size: 30;
}
