.main-gui {
    background-color: #1e1e1e;
}

.knob-section {
    background-color: #280c55;
    /*child-space: 50px;*/
    width: 1s;
}

.title-section {
    background-color: #512540;
    width: 1s;
    height: 180px;
}

.header-title {
    background-color: #512540;

    color: #d28819;
    font-size: 65.0;
    font-weight: bold;
    font-family: "Comfortaa";
}

.knob_container {
    width: 1s;
    /*child_space: 1s;*/
    /*height: 1s;*/
    background-color: #cfb969;
    border-radius: 100px;
    border-width: 30px;
    border-color: #344259;
}

.portion {
    width: 1s;
    background-color: #344259;
    border-width: 0px;
    border-color: #934aff;
}

.knob_arc {
    background-color: #9a56bd;
}

.param-label {
    color: #000000;
    font-size: 40.0;
}
